---
import { formatBlogPosts, slugify } from "../js/utils";

const modules = import.meta.glob<any>("../pages/blog/*.md", { eager: true });
const allPosts = Object.entries(modules).map(([path, mod]) => {
  // Astro markdown modules export with a 'frontmatter' property
  const frontmatter = mod.frontmatter || Object.entries(mod).reduce((acc, [key, value]) => {
    if (key !== 'default') {
      acc[key] = value;
    }
    return acc;
  }, {} as Record<string, any>);
  
  return {
    frontmatter,
    url: '/blog/' + path.replace(/^\.\//, '').replace(/\.md$/, '') + '/'
  };
});

const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.toLowerCase())
  .flat();

const processedCategories = allCategories.reduce((acc, category) => {
  // check if the category exists in the account
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1
  }
}, {})

const { showCount } = Astro.props;

---

<ul class="categories">
  {
    Object.entries(processedCategories).map(([key, val]) => (
      <li>
        <a class="badge" href={`/category/${slugify(key)}/`}>
          {key}
          {showCount && ` (${val})`}
        </a>
      </li>
    ))
  }
</ul>