---
import { Icon } from "astro-icon/components";
---

<footer>
  <div>
    <small>
      &copy; 2024 | All rights reserved
    </small>
    <!-- <small>
      <a href="/rss.xml">
        Subscribe to RSS
        <Icon name="line-md:downloading-loop" width={20} height={20} />
      </a>
    </small> -->
  </div>
</footer>
